USE [master]
GO
/****** Object:  Database [car_rental]    Script Date: 10/11/2025 22:17:00 ******/
CREATE DATABASE [car_rental]
 CONTAINMENT = NONE

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [car_rental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [car_rental]
GO
/****** Object:  Table [dbo].[addons]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addons](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[listing_id] [bigint] NOT NULL,
	[name] [nvarchar](80) NOT NULL,
	[charge_mode] [varchar](10) NOT NULL,
	[price_cents] [int] NOT NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[availability_calendar]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[availability_calendar](
	[listing_id] [bigint] NOT NULL,
	[day] [date] NOT NULL,
	[status] [varchar](10) NOT NULL,
	[hold_token] [uniqueidentifier] NULL,
	[hold_expire_at] [datetime2](3) NULL,
 CONSTRAINT [pk_availability] PRIMARY KEY CLUSTERED
(
	[listing_id] ASC,
	[day] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_addons]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_addons](
	[booking_id] [bigint] NOT NULL,
	[extra_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [pk_booking_extras] PRIMARY KEY CLUSTERED
(
	[booking_id] ASC,
	[extra_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[listing_id] [bigint] NOT NULL,
	[guest_id] [bigint] NOT NULL,
	[start_at] [datetime2](3) NOT NULL,
	[end_at] [datetime2](3) NOT NULL,
	[pickup_location] [geography] NULL,
	[dropoff_location] [geography] NULL,
	[status] [varchar](24) NOT NULL,
	[policy_snapshot] [nvarchar](max) NULL,
	[price_snapshot] [nvarchar](max) NULL,
	[hold_token] [uniqueidentifier] NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[version] [int] NOT NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[car_images]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car_images](
	[car_id] [bigint] NOT NULL,
	[image_url] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[car_id] ASC,
	[image_url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[car_listings]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car_listings](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [bigint] NOT NULL,
	[title] [nvarchar](140) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price_24h_cents] [int] NOT NULL,
	[km_limit_24h] [int] NOT NULL,
	[instant_book] [bit] NOT NULL,
	[cancellation_policy] [varchar](16) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[home_location] [geography] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[version] [int] NOT NULL,
	[home_city] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cars]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cars](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[owner_id] [bigint] NOT NULL,
	[vin_protected] [varbinary](255) NULL,
	[plate_number] [varchar](255) NULL,
	[make] [nvarchar](50) NOT NULL,
	[model] [nvarchar](80) NOT NULL,
	[year] [smallint] NULL,
	[transmission] [varchar](10) NOT NULL,
	[fuel_type] [varchar](10) NOT NULL,
	[seats] [tinyint] NOT NULL,
	[status] [varchar](16) NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[version] [int] NOT NULL,
	[city] [varchar](255) NULL,
	[daily_price] [float] NULL,
	[num_reviews] [int] NULL,
	[rating] [float] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[charges]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[charges](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[line_type] [varchar](20) NOT NULL,
	[amount_cents] [int] NOT NULL,
	[currency] [char](3) NOT NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flyway_schema_history]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flyway_schema_history](
	[installed_rank] [int] NOT NULL,
	[version] [nvarchar](50) NULL,
	[description] [nvarchar](200) NULL,
	[type] [nvarchar](20) NOT NULL,
	[script] [nvarchar](1000) NOT NULL,
	[checksum] [int] NULL,
	[installed_by] [nvarchar](100) NOT NULL,
	[installed_on] [datetime] NOT NULL,
	[execution_time] [int] NOT NULL,
	[success] [bit] NOT NULL,
 CONSTRAINT [flyway_schema_history_pk] PRIMARY KEY CLUSTERED
(
	[installed_rank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idempotency_keys]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idempotency_keys](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idempotency_key] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_idem] UNIQUE NONCLUSTERED
(
	[idempotency_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[listing_images]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listing_images](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[listing_id] [bigint] NOT NULL,
	[url] [nvarchar](500) NOT NULL,
	[sort_order] [int] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[numbers]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[numbers](
	[n] [int] NOT NULL,
PRIMARY KEY CLUSTERED
(
	[n] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[outbox_events]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[outbox_events](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[aggregate_type] [varchar](40) NOT NULL,
	[aggregate_id] [bigint] NOT NULL,
	[event_type] [varchar](60) NOT NULL,
	[payload_json] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[processed_at] [datetime2](3) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[type] [varchar](20) NOT NULL,
	[amount_cents] [int] NOT NULL,
	[currency] [char](3) NOT NULL,
	[provider] [varchar](40) NOT NULL,
	[provider_ref] [varchar](100) NULL,
	[status] [varchar](12) NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payouts]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payouts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[owner_id] [bigint] NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[amount_cents] [int] NOT NULL,
	[currency] [char](3) NOT NULL,
	[bank_ref] [varchar](100) NULL,
	[status] [varchar](12) NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[from_user_id] [bigint] NOT NULL,
	[to_user_id] [bigint] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_review_once] UNIQUE NONCLUSTERED
(
	[booking_id] ASC,
	[from_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trip_inspections]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trip_inspections](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[chk_type] [varchar](10) NOT NULL,
	[odometer_km] [int] NULL,
	[fuel_level_pct] [tinyint] NULL,
	[photos_json] [nvarchar](max) NULL,
	[notes] [nvarchar](255) NULL,
	[created_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_profiles]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_profiles](
	[user_id] [bigint] NOT NULL,
	[full_name] [nvarchar](120) NOT NULL,
	[dob] [date] NULL,
	[driver_license_no] [varbinary](255) NULL,
	[driver_license_expiry] [date] NULL,
	[address_encrypted] [varbinary](255) NULL,
	[kyc_status] [varchar](16) NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](190) NOT NULL,
	[phone] [varchar](30) NULL,
	[role] [varchar](16) NOT NULL,
	[is_active] [bit] NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[twofa_enabled] [bit] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[version] [int] NOT NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallet_transactions]    Script Date: 10/11/2025 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallet_transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[amount_cents] [int] NOT NULL,
	[created_at] [datetimeoffset](6) NOT NULL,
	[currency] [varchar](3) NOT NULL,
	[description] [varchar](255) NULL,
	[status] [varchar](12) NOT NULL,
	[transaction_type] [varchar](20) NOT NULL,
	[booking_id] [bigint] NULL,
	[payment_id] [bigint] NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [ix_addon_listing]    Script Date: 10/11/2025 22:17:00 ******/
CREATE NONCLUSTERED INDEX [ix_addon_listing] ON [dbo].[addons]
(
	[listing_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_booking_lookup]    Script Date: 10/11/2025 22:17:00 ******/
CREATE NONCLUSTERED INDEX [ix_booking_lookup] ON [dbo].[bookings]
(
	[listing_id] ASC,
	[start_at] ASC,
	[end_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_booking_status]    Script Date: 10/11/2025 22:17:00 ******/
CREATE NONCLUSTERED INDEX [ix_booking_status] ON [dbo].[bookings]
(
	[status] ASC,
	[start_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_car_listing_status_price]    Script Date: 10/11/2025 22:17:00 ******/
CREATE NONCLUSTERED INDEX [ix_car_listing_status_price] ON [dbo].[car_listings]
(
	[status] ASC,
	[price_24h_cents] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_listing_city_status_price]    Script Date: 10/11/2025 22:17:00 ******/
CREATE NONCLUSTERED INDEX [ix_listing_city_status_price] ON [dbo].[car_listings]
(
	[home_city] ASC,
	[status] ASC,
	[price_24h_cents] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_car_owner]    Script Date: 10/11/2025 22:17:00 ******/
CREATE NONCLUSTERED INDEX [ix_car_owner] ON [dbo].[cars]
(
	[owner_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_charges_booking]    Script Date: 10/11/2025 22:17:00 ******/
CREATE NONCLUSTERED INDEX [ix_charges_booking] ON [dbo].[charges]
(
	[booking_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [flyway_schema_history_s_idx]    Script Date: 10/11/2025 22:17:00 ******/
CREATE NONCLUSTERED INDEX [flyway_schema_history_s_idx] ON [dbo].[flyway_schema_history]
(
	[success] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_listing_images]    Script Date: 10/11/2025 22:17:00 ******/
CREATE NONCLUSTERED INDEX [ix_listing_images] ON [dbo].[listing_images]
(
	[listing_id] ASC,
	[sort_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_outbox]    Script Date: 10/11/2025 22:17:00 ******/
CREATE NONCLUSTERED INDEX [ix_outbox] ON [dbo].[outbox_events]
(
	[aggregate_type] ASC,
	[processed_at] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_payments]    Script Date: 10/11/2025 22:17:00 ******/
CREATE NONCLUSTERED INDEX [ix_payments] ON [dbo].[payments]
(
	[booking_id] ASC,
	[type] ASC,
	[status] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_payout]    Script Date: 10/11/2025 22:17:00 ******/
CREATE NONCLUSTERED INDEX [ix_payout] ON [dbo].[payouts]
(
	[owner_id] ASC,
	[status] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_trip_inspections]    Script Date: 10/11/2025 22:17:00 ******/
CREATE NONCLUSTERED INDEX [ix_trip_inspections] ON [dbo].[trip_inspections]
(
	[booking_id] ASC,
	[chk_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[availability_calendar] ADD  DEFAULT ('FREE') FOR [status]
GO
ALTER TABLE [dbo].[booking_addons] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ((0)) FOR [version]
GO
ALTER TABLE [dbo].[car_listings] ADD  DEFAULT ((200)) FOR [km_limit_24h]
GO
ALTER TABLE [dbo].[car_listings] ADD  DEFAULT ((0)) FOR [instant_book]
GO
ALTER TABLE [dbo].[car_listings] ADD  DEFAULT ('MODERATE') FOR [cancellation_policy]
GO
ALTER TABLE [dbo].[car_listings] ADD  DEFAULT ('PENDING_REVIEW') FOR [status]
GO
ALTER TABLE [dbo].[car_listings] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[car_listings] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[car_listings] ADD  DEFAULT ((0)) FOR [version]
GO
ALTER TABLE [dbo].[car_listings] ADD  CONSTRAINT [DF_car_listings_home_city]  DEFAULT ('Hà N?i') FOR [home_city]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[cars] ADD  DEFAULT ((0)) FOR [version]
GO
ALTER TABLE [dbo].[charges] ADD  DEFAULT ('VND') FOR [currency]
GO
ALTER TABLE [dbo].[charges] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[flyway_schema_history] ADD  DEFAULT (getdate()) FOR [installed_on]
GO
ALTER TABLE [dbo].[idempotency_keys] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[listing_images] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[listing_images] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[outbox_events] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ('VND') FOR [currency]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[payouts] ADD  DEFAULT ('VND') FOR [currency]
GO
ALTER TABLE [dbo].[payouts] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[payouts] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[trip_inspections] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_profiles] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_profiles] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [twofa_enabled]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [version]
GO
ALTER TABLE [dbo].[addons]  WITH CHECK ADD  CONSTRAINT [fk_extra_listing] FOREIGN KEY([listing_id])
REFERENCES [dbo].[car_listings] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[addons] CHECK CONSTRAINT [fk_extra_listing]
GO
ALTER TABLE [dbo].[availability_calendar]  WITH CHECK ADD  CONSTRAINT [fk_avail_listing] FOREIGN KEY([listing_id])
REFERENCES [dbo].[car_listings] ([id])
GO
ALTER TABLE [dbo].[availability_calendar] CHECK CONSTRAINT [fk_avail_listing]
GO
ALTER TABLE [dbo].[booking_addons]  WITH CHECK ADD  CONSTRAINT [fk_bextra_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[booking_addons] CHECK CONSTRAINT [fk_bextra_booking]
GO
ALTER TABLE [dbo].[booking_addons]  WITH CHECK ADD  CONSTRAINT [fk_bextra_extra] FOREIGN KEY([extra_id])
REFERENCES [dbo].[addons] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[booking_addons] CHECK CONSTRAINT [fk_bextra_extra]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [fk_booking_guest] FOREIGN KEY([guest_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [fk_booking_guest]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [fk_booking_listing] FOREIGN KEY([listing_id])
REFERENCES [dbo].[car_listings] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [fk_booking_listing]
GO
ALTER TABLE [dbo].[car_images]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[cars] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[car_listings]  WITH CHECK ADD  CONSTRAINT [fk_listing_vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[cars] ([id])
GO
ALTER TABLE [dbo].[car_listings] CHECK CONSTRAINT [fk_listing_vehicle]
GO
ALTER TABLE [dbo].[cars]  WITH CHECK ADD  CONSTRAINT [fk_vehicle_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cars] CHECK CONSTRAINT [fk_vehicle_owner]
GO
ALTER TABLE [dbo].[charges]  WITH CHECK ADD  CONSTRAINT [fk_ledger_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[charges] CHECK CONSTRAINT [fk_ledger_booking]
GO
ALTER TABLE [dbo].[listing_images]  WITH CHECK ADD  CONSTRAINT [fk_photo_listing] FOREIGN KEY([listing_id])
REFERENCES [dbo].[car_listings] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[listing_images] CHECK CONSTRAINT [fk_photo_listing]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [fk_pay_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [fk_pay_booking]
GO
ALTER TABLE [dbo].[payouts]  WITH CHECK ADD  CONSTRAINT [fk_payout_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[payouts] CHECK CONSTRAINT [fk_payout_booking]
GO
ALTER TABLE [dbo].[payouts]  WITH CHECK ADD  CONSTRAINT [fk_payout_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[payouts] CHECK CONSTRAINT [fk_payout_owner]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [fk_rev_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [fk_rev_booking]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [fk_rev_from] FOREIGN KEY([from_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [fk_rev_from]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [fk_rev_to] FOREIGN KEY([to_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [fk_rev_to]
GO
ALTER TABLE [dbo].[trip_inspections]  WITH CHECK ADD  CONSTRAINT [fk_check_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[trip_inspections] CHECK CONSTRAINT [fk_check_booking]
GO
ALTER TABLE [dbo].[user_profiles]  WITH CHECK ADD  CONSTRAINT [fk_profile_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_profiles] CHECK CONSTRAINT [fk_profile_user]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [FK3nu5ci7b05c4owr637a233eg8] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [FK3nu5ci7b05c4owr637a233eg8]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [FK4pxeqwqyfe8aw2jquhusc2lub] FOREIGN KEY([payment_id])
REFERENCES [dbo].[payments] ([id])
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [FK4pxeqwqyfe8aw2jquhusc2lub]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [FKrtsa3qtjhd0rn4xb92na03vd] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [FKrtsa3qtjhd0rn4xb92na03vd]
GO
ALTER TABLE [dbo].[addons]  WITH CHECK ADD  CONSTRAINT [ck_charge_mode] CHECK  (([charge_mode]='PER_TRIP' OR [charge_mode]='PER_DAY'))
GO
ALTER TABLE [dbo].[addons] CHECK CONSTRAINT [ck_charge_mode]
GO
ALTER TABLE [dbo].[availability_calendar]  WITH CHECK ADD  CONSTRAINT [ck_avail_status] CHECK  (([status]='BLOCKED' OR [status]='BOOKED' OR [status]='HOLD' OR [status]='FREE'))
GO
ALTER TABLE [dbo].[availability_calendar] CHECK CONSTRAINT [ck_avail_status]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [ck_booking_status] CHECK  (([status]='NO_SHOW_HOST' OR [status]='NO_SHOW_GUEST' OR [status]='CANCELLED_SYSTEM' OR [status]='CANCELLED_HOST' OR [status]='CANCELLED_GUEST' OR [status]='COMPLETED' OR [status]='IN_PROGRESS' OR [status]='UPCOMING' OR [status]='PAYMENT_AUTHORIZED' OR [status]='INSTANT_CONFIRMED' OR [status]='PENDING_HOST'))
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [ck_booking_status]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [ck_booking_time] CHECK  (([end_at]>[start_at]))
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [ck_booking_time]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [ck_drop_srid] CHECK  (([dropoff_location] IS NULL OR [dropoff_location].[STSrid]=(4326)))
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [ck_drop_srid]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [ck_pick_srid] CHECK  (([pickup_location] IS NULL OR [pickup_location].[STSrid]=(4326)))
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [ck_pick_srid]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [ck_policy_json] CHECK  (([policy_snapshot] IS NULL OR isjson([policy_snapshot])=(1)))
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [ck_policy_json]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [ck_price_json] CHECK  (([price_snapshot] IS NULL OR isjson([price_snapshot])=(1)))
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [ck_price_json]
GO
ALTER TABLE [dbo].[car_listings]  WITH CHECK ADD  CONSTRAINT [ck_cancel_pol] CHECK  (([cancellation_policy]='STRICT' OR [cancellation_policy]='MODERATE' OR [cancellation_policy]='FLEX'))
GO
ALTER TABLE [dbo].[car_listings] CHECK CONSTRAINT [ck_cancel_pol]
GO
ALTER TABLE [dbo].[car_listings]  WITH CHECK ADD  CONSTRAINT [ck_listing_srid] CHECK  (([home_location].[STSrid]=(4326)))
GO
ALTER TABLE [dbo].[car_listings] CHECK CONSTRAINT [ck_listing_srid]
GO
ALTER TABLE [dbo].[car_listings]  WITH CHECK ADD  CONSTRAINT [ck_listing_status] CHECK  (([status]='ARCHIVED' OR [status]='SUSPENDED' OR [status]='ACTIVE' OR [status]='PENDING_REVIEW' OR [status]='DRAFT'))
GO
ALTER TABLE [dbo].[car_listings] CHECK CONSTRAINT [ck_listing_status]
GO
ALTER TABLE [dbo].[cars]  WITH CHECK ADD  CONSTRAINT [ck_vehicle_fuel] CHECK  (([fuel_type]='ELECTRIC' OR [fuel_type]='HYBRID' OR [fuel_type]='DIESEL' OR [fuel_type]='GAS'))
GO
ALTER TABLE [dbo].[cars] CHECK CONSTRAINT [ck_vehicle_fuel]
GO
ALTER TABLE [dbo].[cars]  WITH CHECK ADD  CONSTRAINT [ck_vehicle_status] CHECK  (([status]='SUSPENDED' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[cars] CHECK CONSTRAINT [ck_vehicle_status]
GO
ALTER TABLE [dbo].[cars]  WITH CHECK ADD  CONSTRAINT [ck_vehicle_trans] CHECK  (([transmission]='MANUAL' OR [transmission]='AUTO'))
GO
ALTER TABLE [dbo].[cars] CHECK CONSTRAINT [ck_vehicle_trans]
GO
ALTER TABLE [dbo].[charges]  WITH CHECK ADD  CONSTRAINT [ck_line_type] CHECK  (([line_type]='PAYOUT' OR [line_type]='ADJUSTMENT' OR [line_type]='CLEANING' OR [line_type]='FUEL' OR [line_type]='KM_OVER' OR [line_type]='LATE' OR [line_type]='TAX' OR [line_type]='PLATFORM_FEE' OR [line_type]='DELIVERY' OR [line_type]='EXTRA' OR [line_type]='BASE'))
GO
ALTER TABLE [dbo].[charges] CHECK CONSTRAINT [ck_line_type]
GO
ALTER TABLE [dbo].[outbox_events]  WITH CHECK ADD  CONSTRAINT [ck_outbox_json] CHECK  ((isjson([payload_json])=(1)))
GO
ALTER TABLE [dbo].[outbox_events] CHECK CONSTRAINT [ck_outbox_json]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [ck_pay_status] CHECK  (([status]='FAILED' OR [status]='SUCCEEDED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [ck_pay_status]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [ck_pay_type] CHECK  (([type]='DEPOSIT_RELEASE' OR [type]='DEPOSIT_HOLD' OR [type]='VOID' OR [type]='REFUND' OR [type]='CAPTURE' OR [type]='AUTH'))
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [ck_pay_type]
GO
ALTER TABLE [dbo].[payouts]  WITH CHECK ADD  CONSTRAINT [ck_payout_status] CHECK  (([status]='FAILED' OR [status]='SENT' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[payouts] CHECK CONSTRAINT [ck_payout_status]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [ck_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [ck_rating]
GO
ALTER TABLE [dbo].[trip_inspections]  WITH CHECK ADD  CONSTRAINT [ck_chk_type] CHECK  (([chk_type]='CHECKOUT' OR [chk_type]='CHECKIN'))
GO
ALTER TABLE [dbo].[trip_inspections] CHECK CONSTRAINT [ck_chk_type]
GO
ALTER TABLE [dbo].[trip_inspections]  WITH CHECK ADD  CONSTRAINT [ck_photos_json] CHECK  (([photos_json] IS NULL OR ISJSON([photos_json]) = 1))
GO
ALTER TABLE [dbo].[trip_inspections] CHECK CONSTRAINT [ck_photos_json]
GO
ALTER TABLE [dbo].[user_profiles]  WITH CHECK ADD  CONSTRAINT [ck_kyc] CHECK  (([kyc_status]='REJECTED' OR [kyc_status]='VERIFIED' OR [kyc_status]='PENDING'))
GO
ALTER TABLE [dbo].[user_profiles] CHECK CONSTRAINT [ck_kyc]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [ck_users_role] CHECK  (([role]='ADMIN' OR [role]='HOST' OR [role]='CUSTOMER'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [ck_users_role]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [spx_car_listing_home]    Script Date: 10/11/2025 22:17:00 ******/
CREATE SPATIAL INDEX [spx_car_listing_home] ON [dbo].[car_listings]
(
	[home_location]
)USING  GEOGRAPHY_AUTO_GRID
WITH (
CELLS_PER_OBJECT = 12, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
